body { 
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: #9faaf2; 
    animation: skychange 24s infinite;
}

@keyframes skychange { 
    0%,100% {
        background-color: #ffffff;
    }
    10% { 
        background-color: #47d0ef;
    }
    25% { 
        background-color: #84e8ff;
    }
    50% {
        background-color: #ecf4d0; 
    }
    75% { 
        background-color: #dee06b;
    }
    80% {
        background-color: #ffffff;
    }
}

.sun {
      width: 50px;
      height: 50px;
      bottom: 50px;
      left: 0;
      position: absolute;
      border-radius: 50%;
      background-color: yellow;
      animation: sunpath 13s linear 2.9s 1; 
}
*/
@keyframes sunpath {
  0%{bottom: 150px; left: 50px;} /* for smoother transition */ 
  5% {bottom: 215px; left: 75px;}
  10% {bottom: 300px; left: 95px;}
  25% {bottom: 350px; left: 105px;} 
  35% {bottom: 400px; left: 120px;}
  44% {bottom: 400px; left: 142.5px;}
  50% { bottom: 425px; left: 165px;}
  62.5% { bottom: 440px ;left: 305px;}
  70% {left: 375px;}   /*pretty much similar to Japan in January so :p */ 
  80% {left: 450px;}
  90% {left: 525px;}
  100% {left: 600px;}
}      

.moon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    left: 0;
    bottom: 0;
    position: absolute;
    background-color: rgb(245,245,245);
    animation: moonwalk 12s linear 16s 1;
}

@keyframes moonwalk {
  0% {display: none;} /* for smoother transition */ 
  15% {bottom: 215px; left: 75px;}
  20% {bottom: 300px; left: 95px;}
  25% {bottom: 350px; left: 105px;} 
  35% {bottom: 400px; left: 120px;}
  50% { bottom: 425px; left: 165px;}
  62.5% { bottom: 440px ;left: 305px;}
  70% {left: 375px;}   /*pretty much similar to January sunset in Japan so :p */ 
  80% {left: 450px;}
  90% {left: 525px;}
  100% {left: 600px;}
} 

 .container {
    width: 100%;
    height: 75%;
    /* border: 1px solid white; */ 
    position: fixed;
    bottom: 0;
    left: 0;
    bottom: 0;
}  

.grassfields {
    width: 100%;
    height: 170px;
    position: fixed;
    bottom: 0;
    background-color: green;
}

.mountain { 
    left: 0;
    bottom: 30%;
    position: absolute;
    border-bottom: 250px solid #646c7a; /* the border is solid and it's transparent */ 
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    z-index: -1;
} 

.mountain2 { 
    left: 130px;
    bottom: 30%;
    position: absolute;
    border-bottom: 220px solid #646c7a; /* the border is solid and it's transparent */ 
    border-left: 220px solid transparent;
    border-right: 260px solid transparent; 
    z-index: -2;
} 

.clock { 
    font: normal small-caps normal 40px/1 Georgia;
    justify-content: center;
}

.road {
    border-bottom: 130px solid #2a2a2b;
    border-left: 160px solid transparent;
    border-right: 160px solid transparent;
    width: 75px;
    height: 0;   /* idk why the smaller the height the shorter the trapezoid */ 
}

.v1{
    left: 85px;
    position: absolute; /* we need to determine the position so that we can adjust its position */
}

.vpl {
    border-bottom: 130px solid #fff;
    border-left: 2.5px solid transparent;
    border-right: 2.5px solid transparent;
    width: 5px;
    height: 0;
}

.s1{
    left: 30px;
    position: absolute;
}

