.bigdipper {
    position: relative;
    top: 600px;
    width: 100%;
    animation: drift 10s linear 17s 1;
    transform: rotate(65deg);
    z-index: -3;
} 

/* CONSTELLATION ANIMATION*/ 
@keyframes drift {
    100%{
        transform: translateY(-800px);
    }
}

.stars>div{ 
    width: 5px;
    height: 5px;
    background-color: rgb(245,245,245);
    transform: rotate(45deg);
    position: absolute;
    
}

.stars>div:nth-child(1){
    left: 120px;
}
.stars>div:nth-child(2){
    left: 170px;
    bottom: 30px;
}
.stars>div:nth-child(3){
    left: 240px;
    bottom: 20px;
}
.stars>div:nth-child(4){
    left: 310px;
}
.stars>div:nth-child(5){
    left: 310px;
    bottom: -60px;
}
.stars>div:nth-child(6){
    left: 420px;
}
.stars>div:nth-child(7){
    left: 400px;
    bottom: -55px;
}

/* CLOUDS */ 
.c1 {
    animation: flow_c1 15s linear 2;
    transform: scale(0.3);
    left: 200px; 
    bottom: -80px;
    height: 780px;
    width: 500px;
    position: absolute;
}

.c2{
    animation: flow_c2 18s linear 2;
    transform: scale(0.3);
    left: 150px;
    bottom: -80px;
    height: 880px;
    width: 100px;
    position: absolute;
}

.c3{
    animation: flow_c1 23s linear 2;
    transform: scale(0.3);
    left: 0;
    bottom: 0;
    height: 850px;
    width: 100px;
    position: absolute;
}

/* CLOUDS ANIMATION */
@keyframes flow_c1 {    
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes flow_c2 {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes flow_c3 {
     0% {
        margin-left: -1000px;  /* if I turn it down then clouds will appear quicker */ 
    } 
    100% {
        margin-left: 100%;
    }
}


.cloud {  /* applies to lower cloud */ 
    background: #fff;
    border-radius: 100px;
    height: 120px;
    width: 350px; 
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    animation: darken 40s linear 1;
}

@keyframes darken {
    0% {
        background-color: #000000;
    }
    3% {
        background-color: #ffffff;
    }
    50%{ 
        background-color: #ffffff;
    }
    60%{ 
        background-color: #777777;
    }
    80%{ 
        background-color: #000000;
    }
    100%{
        background-color: #000000;
    } 
}

.cloud:before , .cloud:after {
    background: #fff;
    content: ''; /* a place for you to edit your place */ 
    z-index : -1;
    position: absolute;
    animation: darken 40s linear 2;
}

.cloud:after{
    height: 100px;
    left: 50px;
    top: -20px;
    width: 150px;
    border-radius: 100px;
    z-index: -1;
    animation: darken 40s linear 2;
}

.cloud:before{ 
    height: 180px;
    left: 130px;
    top: -60px;
    width: 180px;
    border-radius: 100px;
    z-index: -1; 
    animation: darken 40s linear 2;
}

/* Notes: 
:before -> a pseudo element that inserts the content before HTML pops up 
:after ->  is a pseudo element which allows you to insert content onto a page from CSS (without it needing to be in the HTML).
Source: CSS-tricks 
*/ 

