body {
 	background-color: purple;
}

.expand {
    background-color: white;
    height: 100px;
    width: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex; /* In flexbox terms, diplay flex means to set up a working space (flexspace for the arro)*/
    position: absolute;
    align-items: center;   /* turns out that all items in the id = "expand" sect are aligned */ 
    justify-content: center;
    cursor: pointer;
}

#edit{
    background-color: #fff;
    font-size: 50px;
}

#edit:hover {
    transform: scale(1.2);
    color: blue;
}

#menu {
    background-color: white;
    top: 100px;
    width: 300px;
    left: -300px;
    position: absolute;
    font: center;
    border-radius: 0 0 10px 10px;
    transition: 0.75s;
}
/*transition: [transition-property] [transition-duration] [transition-timing-function] [transition-delay];*/

a{    /* Manipulates a tags */ 
   display: block;      /* It is known that items are displayed in contiguous blocks */ 
   text-align: center;    /* i tags are just texts so use text-align instead of using justify-content */
   margin-top: 50px;
   margin-right: 200px;
   margin-bottom: 20px;
}

.material_icons{
    font-size: 50px;
}

.iconify{
    font-size: 50px; 
}

.fas fa-wind{
    font-size: 50px; 
}

#control-bar {
    width: 200px;
    height: 580px;
    position: relative;
    margin-left: 92px;
    margin-top: -268px;
    /*border: 1px solid black;*/
    z-index: 0;
    border-radius: 0 0 15px 15px;
    left: -300px;
    transition: 0.75s;
}

.subsect{
    margin-bottom: 30px;
    font-family: Serif;
    font-size: 18px;
}

#container {
    width: 95%; 
    height: 20px;
    /*border: 1px solid black;*/
}

#humid_slider, #temp_slider, #wind_slider{
    width: 90%;
    margin-left: 10px;
    -webkit-appearance: none; 
    -moz-appearance: none; 
    box-shadow: inset 0 3px 18px rgba(0,0,0,0.7);   /* so that the sliders seem to be blended */
    height: 5px;
    border-radius: 5px;
    outline: none;    /* so that you can get rid of the select blue bordered space upon clicking */
}

#humid_slider::-webkit-slider-thumb, #temp_slider::-webkit-slider-thumb, #wind_slider::-webkit-slider-thumb{    /* :: is to access sth and : is to call an attribute*/
    -webkit-appearance: none;
    -moz-appearance: none; 
    height: 20px;
    width: 10px;
    background-color: blue;
    outline: none;
    cursor: pointer;
}

/* the inner circle is light blue and the outside is blue */ 
/*#sliders::-webkit-slider-thumb:hover {*/
/*    box-shadow: 0 0 0 3px ##bfd7ff, 0 0 0 6px blue;*/
/*}*/

/* #sliders:active::-webkit-slider-thumb{   /* same goes */ 
/*    box-shadow: 0 0 0 3px ##bfd7ff, 0 0 0 6px blue; */
/*}*/

#info {
    display: flex;
    /*border: 1px solid green;*/
    width: 200px;
    height: 50px;
    justify-content: space-between;
}

.indicator{
    margin-top: 18px;
}
